@import "tailwindcss";

@theme {
  --color-google-blue: #1a73e8;
  --color-google-red: #ea4335;
  --color-google-yellow: #fbbc04;
  --color-google-green: #34a853;
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
